:root{
  --primary: #d81e5b;
  --secondary: #8c38ff;
  --dark: #131a26;
  --light: #333;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: var(--light);
}

.App{
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.calculator{
  width: 100%;
  max-width: 400px;
  background-color: #eee;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.2);
}

.display{
  padding: 16px;
  text-align: right;
  background-color: var(--dark);
  color: #fff;
  font-size: 24px;
  font-weight: 400;
}

.display span{
  margin-right: 15px;
  font-size: 20px;
}

button{
  appearance: none;
  outline: none;
  border: none;
  color: #fff;
  font-size: 20px;
  padding: 16px;
  cursor: pointer;
  transition: 0.4s;
}

button:hover{
  opacity: 0.9;
}

.operators{
  display: flex;
}

.operators button{
  flex: 1 1 0%;
  background-color: var(--primary);
  font-weight: 700;
}

.digits{
  display: flex;
  flex-wrap: wrap;
}

.digits button{
  flex: 1 1 33.333%;
  max-width: 33.333%;
  background-color: var(--dark);
}